<div class="col-md-10 col-md-offset-1" ng-if="loading">
    <div class="page-header">
        <h1>Loading...</h1>
    </div>
</div>

<div class="col-md-10 col-md-offset-1" ng-if="!loading">
    <div ng-if="character.name">

        <div class="page-header">
            <h1>{{ character.name }}</h1>
        </div>

        <p><a href="#/">Home</a>
            <p>
                <div class="cList col-md-8 col-md-offset-2">
                    <div class="panel panel-default">
                        <h3 class="panel-body">
                            <span>Name:</span> {{ character.name }}
                        </h3>
                    </div>
                    <div class="panel panel-default">
                        <h3 class="panel-body">
                            <span>Eye Color:</span> {{ character.eye_color }}
                        </h3>
                    </div>
                    <div class="panel panel-default">
                        <h3 class="panel-body">
                            <span>Hair Color: </span>{{ character.hair_color }}
                        </h3>
                    </div>
                    <div class="panel panel-default">
                        <h3 class="panel-body">
                            <span>Height: </span>{{ character.height }}
                        </h3>
                    </div>
                    <div class="panel panel-default">
                        <h3 class="panel-body">
                            <span>Gender: </span>{{ character.gender }}
                        </h3>
                    </div>
                    <div class="panel panel-default">
                        <h3 class="panel-body">
                            <span>Films: </span>
                            <ul class="films">
                                <li ng-repeat="film in character.films"><a href="{{film}}">{{film}}</a></li>
                            </ul>
                        </h3>
                    </div>


                </div>





    </div>

    <div ng-if="!character.name">

        <div class="page-header">
            <h1>No one by the name {{ id }} exists :(</h1>
        </div>

        <a href="#/">Return Home?</a>

    </div>
</div>
